.temp
{
	padding-left: 10%;
    padding-right: 10%;

}

#temp_h>h1.main
{

   padding-left: 4%;
   padding-top: 3%;
   font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
  

}

.img-thumbnail 
{
    display: inline-block;
    width: 380px;
    height: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ;
}
.component > .row
{
	padding-top: 2%;
}


.component > .row > img:hover
{
     opacity: 0.2;
}

#modal-header
{
  color:  #cc6699;
  padding-top: 2%;
  font-size: 24px;
  font-weight: bold;
}
 

.nav-tabs>li>a 
{
    font-size: 18px;
    color: black;
    background-color: white;
   font-weight: bold;
   
}

.nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #cc6699;
  font-weight: bold;
}

